$title_color: rgb(204, 168, 101);
$title_underline_color: darken($title_color, 30%);
$skills_color: rgb(210, 210, 143);
$skillRadius: .5rem;
$skillBorder: rgb(82, 82, 58);
$youtubeColor: rgb(83, 15, 3);
$infoBox_background: #444;


body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;
	min-width: 310px;

	.topArea {
		display: flex;
		justify-content: space-between;
		gap: 1;

		h2 {
			color: #444;
			font-weight: bold;
			margin: 1rem 0 0 0;
			text-shadow: 1px 1px 5px #1e1e1e;
		}

		.inputArea {
			display: flex;
			gap: 1rem;

			.clearSearch {
				margin-top: 2.2rem;
				font-size: 2.2rem;
				font-weight: bold;
				color: #292929;

				&:hover {
					text-shadow: 1px 1px 14px #555;
				}

				cursor:pointer;
			}

			input {
				height: fit-content;
				font-size: 2rem;
				margin-top: 2rem;
				border-radius: .3rem;

				&::placeholder {
					color: #bbb;
				}
			}
		}
	}

	h3 {
		color: #777;
	}

	a {
		color: $skills_color;
	}

	// smartphone
	@media (max-width: 879px) {
		h2 {
			font-size: 2.8rem;
		}

		main.content {
			.show_smartphone {
				display: block;
			}

			.show_computer {
				display: none;
			}

			.responsiveHeader {
				display: flex;
				justify-content: space-between;

				.skillsLink {
					display: block;
					margin-top: 1.2rem;
					text-decoration: underline;
				}
			}

			.loadingArea {
				text-align: center;
				margin-top: 5rem;
			}
		}
	}

	// computer
	@media (min-width: 880px) {
		h2 {
			font-size: 4rem;
		}

		.skillsLink {
			display: none;
		}

		main.content {
			.show_smartphone {
				display: none;
			}

			.show_computer {
				display: block;

				.jobHeaderWrapper {
					display: flex;
					justify-content: space-between;

					.totalJobs {
						.theNumber {
							color: $title_color;
						}

						.searching {
							color: $title_color;
						}
					}

					.infoMessage {
						color: red;
					}
				}
			}

			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 1rem;

			.loadingArea {
				margin-left: .4rem;
			}
		}
	}

	main.content {

		.loadingArea {

			.loadingMessage {
				margin-top: 1rem;
			}

			div.loadingGraphic {
				font-size: 11rem;
				color: #393939;

				.spinner {
					animation: spin infinite 2s linear;
				}

				@keyframes spin {
					from {
						transform: rotate(0deg);
					}

					to {
						transform: rotate(360deg);
					}
				}
			}
		}

		section.jobArea {
			.jobs {
				.job {
					background-color: #222;
					margin-bottom: 1rem;
					border-radius: .5rem;
					padding: 1rem;

					.header {
						background-color: #1a1a1a;
						padding: .8rem;
						border-radius: .5rem;
						margin-bottom: 1rem;
						max-width: 30rem;

						.title {
							font-size: 1.3rem;
							margin-bottom: .3rem;

							a {
								text-decoration: none;
								color: $title_color;

								&:hover {
									border-bottom: 1px solid $title_underline_color;
								}
							}
						}

						.company {
							font-style: italic;
						}

						.publicationDate {
							color: rgb(197, 197, 128);
							margin-top: .5rem;
						}

					}

					.skills {
						padding: 0 .5rem;

						.nameDescription {
							margin-bottom: 1rem;

							.skill {
								padding: .3rem .3rem .3rem 0;
								color: rgb(230, 174, 70);
								text-decoration: none;
								margin-bottom: .5rem;
								cursor: pointer;

								&:hover {
									color: orange;
									text-shadow: 1px 1px 7px #777;
								}
							}

						}

						.infoBox {
							background-color: $infoBox_background;
							margin-top: .5rem;
							margin-bottom: 1rem;
							border-radius: .3rem;
							padding: .4rem 1rem .7rem 1rem;
							width: 12rem;
						}
					}
				}
			}
		}

		section.skillsArea {

			.theNumber {
				color: $title_color;
			}

			.searching {
				color: $title_color;
			}

			.skills {
				.skillWrapper {
					margin-bottom: .5rem;

					.skill.isClosed {
						border-radius: $skillRadius;
					}

					.skill.isOpen {
						border-radius: $skillRadius $skillRadius 0 0;
						border-top: 1px solid $skillBorder;
						border-left: 1px solid $skillBorder;
						border-right: 1px solid $skillBorder;
					}

					.skill {
						background-color: #222;
						padding: 1rem;

						&:hover {
							background-color: #252525;
						}


						cursor: pointer;

						.name {
							.total {
								color: rgb(222, 222, 58);
							}

							color: rgb(212, 161, 64);
							font-size: 1.5rem;
						}

						.moreInfo {
							background-color: #444;
						}
					}

					.skillInfo {
						background-color: $infoBox_background;
						padding: 1rem;
						border-radius: 0 0 $skillRadius $skillRadius;
						border-bottom: 1px solid $skillBorder;
						border-left: 1px solid $skillBorder;
						border-right: 1px solid $skillBorder;

						.description {
							color: #aaa;
						}

						.subJobList {
							font-size: .8rem;
							margin-top: .7rem;

							.date {
								color: orange;
							}

							a {
								color: $skills_color;
								text-decoration: none;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}

}


// is at two places
.iconBar {
	display: flex;
	gap: .7rem;

	.iconWrapper {
		.icon {
			margin-top: 1rem;
			font-size: 1.9rem;
		}

		.iconInfo {
			color: rgb(4, 13, 39);
			text-shadow: 1px 1px 1px 3px #666;
		}

		.iconYoutube {
			color: $youtubeColor;
			text-shadow: 1px 1px 1px 3px #666;
		}

		.iconGoogle {
			color: rgb(130, 100, 17);
			font-size: 1.6rem;
			text-shadow: 1px 1px 1px 3px #666;
			margin-top: 1.1rem;
		}

		.extra {
			margin-top: -.5rem;
			font-weight: bold;
			text-align: center;
		}

		.extraYoutube {
			color: #222;
			margin-top: -.3rem !important;
		}

		.extraGoogle {
			color: #222;
			margin-top: -.1rem !important;
		}
	}
}


// smartphone
@media (max-width: 879px) {
	.global_show_computer {
		display: none;
	}
}

// computer
@media (min-width: 880px) {
	.global_show_computer {
		display: block;
	}
}